header {
    background-color: #7a8b9b;
    /*cor de fundo azul escuro*/
    color: #FFFFFF;
    /*cor do texto branca*/
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#title {
    padding: 5px;
    padding-left: 10px;
    flex-direction: column;
    line-height: 10px;
}

#title>h1 {
    font-size: 25px;
    color: #FFFFFF;
}

#haku>img {
    margin-left: 30%;
    padding: 5px;
    height: 60px;
    transform: scaleX(-1);
}

li {
    padding: 5px;
    display: inline-block;
    margin: 5px;
}

a {
    color: #FFFFFF;
}

a:hover {
    color: #00C957;
    transition: 0.3s all;
}