#blocao {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#ObjectArea {
    background-color: #ffffff;
    /* width: 100%; */
    /* width: 800px; */
    height: 348px;
    margin: 5px;
    /* padding-left: 95px; */
    /* border: 1px solid black; */
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#obj {
    background-color: #ffffff;
    /* padding-top: 30px; */
    /* border: 1px solid black; */
    /* background-color: #d7ebfd; */
    border-radius: 6px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    /* width: 100%; */
    width: 800px;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#objAreaImg {
    /* overflow: hidden; */
    height: 250px;
    width: 100%;
    max-width: 405px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-right: 70px;
}

#slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 1s ease;
    margin-right: 30px;
}

#slide img{
    animation: test 0.75s;
    border-radius: 6px;
    /* width: 250px; */
    height: 100%;
    max-height: 250px;
    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#objEsquerda {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 250px;
    padding-left: 0px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

#objEsquerda>h2 {
    color: #006297;
    margin-top: 10px;
    margin-bottom: 10px;
}

#objEsquerda p {
    margin-top: 5px;
    margin-bottom: 10px;
}

#linkArea {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    height: 100%;
    max-height: 40px;
    /* margin-bottom: 50px; */
    position: absolute;
    margin-bottom: -210px;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 1px solid black; */
}

#linkArea img {
    height: 100%;
    max-height: 30px;
    /* top: 290px;
    left: 440px; */
    position: absolute;
    transition: 0.8s ease;
    margin-top: 5px;
    
}

#linkArea p {
    /* top: 290px; */
    font-size: 15px;
    color: #006297;
    /* display: none; */
    position: absolute;
    /* top: 280px; */
    
    left: 0px;
    /* font-size: 5px; */
    /* margin: 0; */
    padding: 0;
    z-index: -1;
    transition: 0.8s ease;
}

#linkArea:hover p+img {
    height: 50px;
}

#linkArea:hover img {
    height: 40px;
}

#linkArea:hover p {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 15px;
    z-index: 0;
    font-weight:600;
}


#TimeLine {
    background-color: #ffffff;
    margin-top: 5px;
    margin-left: 5px;
    width: 800px;
    height: 203px;
    border-radius: 6px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    align-items: center;
    /* z-index: -1; */
    /* padding: 0; */
    /* margin: 0; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#divid {
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}

#objctPreview {
    /* position: absolute;     */
    color: #00466b;
    height: 140px;
    width: 200px;
    margin-left: 25px;
    /* border: 5px outset black; */
    /* border-radius: 50%; */
    background-color: azure;
    cursor: pointer;
    z-index: 0;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.8s ease;
}

#objctPreview:hover {
    color: #E0EDC5;
    background-color: #003049;
}
#previewTitulo {
    /* border: 1px solid black; */
    width: 178px;
}

#previewTitulo > h4 {
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-left: 0;
    text-align: justify;
    margin-bottom: 5px;
}


#objctPreview>img {
    border-radius: 6px;
    height: 100px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#arrowSlider {
    position: absolute;
    margin-top: 0;
    height: 70px;
    z-index: 1;
    margin-left: 0;
    cursor: pointer;
}

#arrowSlider2 {
    position: absolute;
    margin-top: 0;
    height: 70px;
    z-index: 1;
    margin-left: 761px;
    transform: rotate(180deg);
    cursor: pointer;
}

/* 
#objTM > img {
    margin-top: 5px;
    margin-left: 350px;

    position: absolute;
    z-index: 0;
    height: 760px;
    transform: rotate(270deg);
} */

#tituloObj>h1 {
    font-size: 20px;
}

@keyframes test {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 900px) {

    #objectArea {
        width: 290px;
        /* max-width: 280px; */
        /* max-width: 300px; */
        
    }
    #blocao {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 290px;
        /* border: 1px solid black; */
    }

    #obj {
        background-color: #ffffff;
        /* padding-top: 30px; */
        /* border: 1px solid black; */
        /* background-color: #d7ebfd; */
        border-radius: 6px;
        /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
        /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
        /* width: 90%; */
        max-width: 290px;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #objEsquerda>h2 {
        color: #006297;
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 12px;
    }
    
    #objEsquerda p {
        font-size: 10px;
        margin-top: 0;
        margin-bottom:0;
        padding-right: 25px;
        padding-bottom: 0;
    }
    
    #linkArea {
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        height: 100%;
        max-height: 40px;
        /* margin-bottom: 50px; */
        position: absolute;
        margin-left: 200px;
        margin-bottom: -60px;
        /* justify-content: center; */
        /* align-items: center; */
        /* border: 1px solid black; */
    }

    #linkArea p {
        line-height: .8;
        /* top: 290px; */
        font-size: 12px;
        color: #006297;
        /* display: none; */
        position: absolute;
        /* top: 280px; */
        margin-top: 10px;
        margin-left: -45px;
        /* font-size: 5px; */
        /* margin: 0; */
        padding: 0;
        z-index: 0;
        transition: 0.8s ease;
    }

    #objAreaImg {
        /* overflow: hidden; */
        height: 250px;
        width: 100%;
        max-width: 300px;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: row;
        /* justify-content:center; */
        /* align-items: center; */
        margin: 0;
        /* margin-right: 40px; */
    }
    
    #slide {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: 1s ease;
        padding-left: 20px;
    }
    
    #slide img{
        
        animation: test 0.75s;
        border-radius: 6px;
        /* width: 250px; */
        height: 100%;
        max-height: 140px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    #TimeLine {
        background-color: #ffffff;
        margin-top: 0;
        margin-left: 0;
        width: 290px;
        height: 170px;
        border-radius: 6px;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        align-items: center;
        /* z-index: -1; */
        /* padding: 0; */
        /* margin: 0; */
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    #arrowSlider {
        position: absolute;
        margin-top: 0;
        height: 70px;
        z-index: 1;
        margin-left: -3px;
        cursor: pointer;
    }
    
    #arrowSlider2 {
        position: absolute;
        margin-top: 0;
        height: 70px;
        z-index: 1;
        margin-left: 250px;
        transform: rotate(180deg);
        cursor: pointer;
    }

    #linkArea:hover p {
        line-height: .8;
        /* top: 290px; */
        font-size: 12px;
        color: #006297;
        /* display: none; */
        position: absolute;
        /* top: 280px; */
        margin-top: 10px;
        margin-left: -45px;
        /* font-size: 5px; */
        /* margin: 0; */
        padding: 0;
        z-index: 0;
        transition: 0.8s ease;
    }

}