#ObjectArea{
    width: 800px;
    height: 514px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#obj {
    padding-top: 30px;
    border: 1px solid black;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#obj > img{
    /* width: 250px; */
    height: 200px;
}

#objEsquerda {
    max-width: 250px;
    padding-left: 10px;
    padding-right: 10px;
}

#objEsquerda > a{
    color: black;
}