header {
    background-color: #003049;
    /*cor de fundo azul escuro*/
    color: #FFFFFF;
    /*cor do texto branca*/
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
}

#title {
    padding: 0;
    padding-left: 10px;
    flex-direction: column;
    line-height: 10px;
}

#title>h1 {
    font-size: 20px;
    color: #FFFFFF;
}

#haku > img {
    margin-left: 44%;
    padding: 0px;
    height: 34px;
    transform: scaleX(-1);
  }

li {
    padding-right: 5px;
    display: inline-block;
    margin-right: 5px;
}

a {
    color: #FFFFFF;
}

a:hover {
    color: #ff595e;
    transition: 0.3s all;
}