  body {
    margin: 0;
    padding: 0;
    background-color: #fff; /*cor de fundo branca*/
    color: #000000;
  }
  main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px;
  }